.ourAbout {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ourTitle {
    font-size: 40px;
    text-align: center;
    margin: 0 0 15px;
    color: #6C63FF;
}

.our-main__container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.ourAbout-main {
    margin-top: 40px;
}

.ourImg {
    border-radius: 8px;
}

.main-title {
    width: 555px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-title h2 {
    font-size: 28.8px;
    color: #6C63FF;
    margin: 0 0 20px;
}

.main-title p {
    width: 555px;
    font-size: 16px;
    color: #333333;
}